.popup {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    &:after {
        @include after;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0, 0.3);
    }
    &_tel{
        position: absolute;
        z-index: 2;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 15px;
        max-width: 712px;
        width: 100%;
        max-height: 100%;
        overflow-y: auto;
        &::-webkit-scrollbar {
            opacity: 0;
            width: 0;
        }
        a.btn.btn-closeBlackSmall {
            position: absolute;
            top: 25px;
            right: 25px;
            z-index: 2;
        }
        &-body{
            width: 100%;
            background-color: #F6F6F6;
            border-radius: 10px;
            box-shadow: 0 6px 25px rgba(0,0,0, 0.1);
            padding: 20px;
            position: relative;
        }
        &-buttons{
            display: flex;
            a.btn {
                margin-right: 30px;
                height: 40px;
                font-size: 16px;
                font-weight: 700;
                &:last-child {
                    margin: 0;
                }
            }
        }
        &-row{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding-bottom: 20px;
            border-bottom: 1px solid #D9D9D9;
            margin-bottom: 20px;
            &.soc {
                display: block;
                padding-bottom: 0;
                ul {
                    flex-wrap: wrap;
                }
                li {
                    margin-right: 20px;
                    margin-bottom: 20px;
                    &:last-child{
                        margin: 0;
                    }
                }
                a {
                    display: flex;
                    align-items: center;
                    width: auto;
                    color: #000;
                    height: auto;
                    text-decoration: none;
                    img {
                        margin-right: 10px;
                    }
                    span {
                        display: block;
                        color: #000;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 24px;
                        position: relative;
                        @include after;
                        &:after{
                            @include after;
                            position: absolute;
                            @include transition;
                            bottom: 1px;
                            left: 0;
                            width: 100%;
                            height: 1px;
                            background-color: #000;
                        }
                        &:hover:after {
                            width: 0;
                        }
                    }
                }
            }
        }
        &-right{
            padding-top: 7px;
            width: 150px;
            margin-right: 15px;
            span {
                display: block;
                color: #000;
                margin-bottom: 5px;
                font-size: 14px;
                font-weight: 400;
                line-height: 17px;
            }
            p {
                display: block;
                font-size: 14px;
                font-weight: 400;
                line-height: 17px;
                color: #696969;
            }
        }
        &-title{
            display: block;
            margin-bottom: 10px;
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
            color: #696969;
        }
        &-block{
            display: flex;
            align-items: center;
            span {
                display: block;
                color: #000;
                font-size: 20px;
                font-weight: 400;
                line-height: 24px;
                margin-right: 20px;
            }
        }
        .footer_soc a{
            &:after {
                display: none !important;
            }
            &:before {
                display: none !important;
            }
            img {
                display: block;
            }
        }
        &-address{
            display: flex;
            align-items: center;
            padding-top: 20px;
            span {
                display: flex;
                align-items: center;
                font-size: 14px;
                font-weight: 400;
                line-height: 17px;
                color: #696969;
                margin-right: 10px;
                i{
                    display: block;
                    background: url(../img/marker.svg) no-repeat;
                    @include size(15px);
                    margin-right: 5px;
                }
            }
            a {
                display: block;
                text-decoration: underline;
                font-size: 14px;
                font-weight: 400;
                line-height: 17px;
                color: #427CB1;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
    &_catalog{
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        background-color: #F6F6F6;
        width: 531px;
        z-index: 3;
        padding: 35px 0 30px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-right: 1px solid #D9D9D9;
        overflow-y: auto;
        &::-webkit-scrollbar {
            opacity: 0;
            width: 0;
        }
        a.btn.btn-closeGray {
            position: fixed;
            top: 30px;
            left: 30px;
            z-index: 2;
        }
        &-title{
            display: block;
            font-size: 24px;
            font-weight: 700;
            line-height: 29px;
            color: #000;
            margin-bottom: 50px;
            padding-left: 100px;
        }
        &-menu{
            li{
                margin-bottom: 5px;
                &:last-child {
                    margin: 0;
                }
                &:nth-child(7) a{
                    color: #DE2B2B;
                    i {
                        background: url(../img/arrow-right-red-big.svg) no-repeat;
                    }
                }
                &.active a {
                    background-color: #EEEEEE;
                }
            }
            a{
                display: flex;
                align-items: center;
                text-decoration: none;
                @include transition;
                padding-left: 100px;
                padding-right: 15px;
                color: #000;
                font-size: 24px;
                height: 54px;
                align-items: center;
                font-weight: 400;
                &:hover {
                    background-color: #EEEEEE;
                }
                img {
                    display: block;
                    margin-right: 10px;
                }
                i {
                    display: block;
                    margin-left: 10px;
                    background: url(../img/arrow-right-black-big.svg) no-repeat;
                    @include size(24px);
                    margin-top: 2px;
                }
            }
        }
        &-bottom{
            border-top: 1px solid #D9D9D9;
            padding-top: 30px;
            padding-left: 100px;
            margin-top: 30px;
            .footer_contacts {
                strong {
                    margin-bottom: 5px;
                }
                &.tel {
                    display: none;
                }
            }

        }
        &-inner{
            position: fixed;
            top: 0;
            left: 531px;
            bottom: 0;
            background-color: #F6F6F6;
            width: 531px;
            z-index: 3;
            overflow-y: auto;
            &::-webkit-scrollbar {
                opacity: 0;
                width: 0;
            }
            a.back {
                display: none;
                background: url(../img/arrow-left-gray.svg) no-repeat 50% 50%;
                position: absolute;
                top: 32px;
                left: 22px;
                @include size(30px);
            }
            &_title {
                border: 1px solid #BABABA;
                height: 93px;
                margin-bottom: 20px;
                display: flex;
                align-items: center;
                padding: 0 30px;
                img {
                    display: block;
                    margin-right: 9px;
                }
                span {
                    color: #000;
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 29px;
                    display: block;
                }
            }
            .popup_catalog-menu a {
                padding: 0 15px 0 30px;
                font-size: 20px;
                font-weight: 400;
            }
        }
        &-row{
            display: flex;
            margin-bottom: 15px;
            align-items: center;
            span {
                display: block;
                font-size: 16px;
                font-weight: 700;
                line-height: 20px;
                color: #696969;
                margin-right: 25px;
            }
            b {
                display: block;
                margin-right: 10px;
                font-size: 14px;
                font-weight: 400;
                line-height: 17px;
                margin-right: 25px;
            }
            a{
                display: block;
                text-decoration: underline;
                font-size: 14px;
                font-weight: 400;
                line-height: 17px;
                color: #427CB1;
            }
            p {
                display: block;
                font-size: 14px;
                font-weight: 700;
                line-height: 17px;
                color: #696969;
            }
        }
        @include _960 {
            width: 50%;
            padding: 31px 0 30px 0;
            &-inner {
                width: 50%;
                left: 50%;
                &_title {
                    span {
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 24px;
                    }
                    img {
                        @include size(20px);
                    }
                }
                .popup_catalog-menu a {
                    font-size: 16px;
                }
            }
            a.btn.btn-closeGray {
                top: 30px;
                left: 45px;
                @include size(25px);
                background-size: 22px;
            }
            &-title {
                font-size: 20px;
                line-height: 24px;
                margin-bottom: 30px;
            }
            &-menu {
                li {
                    margin: 0;
                }
                a {
                    font-size: 20px;
                    font-weight: 400;
                    img {
                        @include size(20px);
                    }
                    i {
                        @include size(20px);
                        background-size: 20px;
                    }
                }
            }
            .footer_contacts {
                border: none;
                padding: 0;
                width: auto;
                display: block;
                strong {
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 24px;
                    margin: 0 0 5px 0;
                    width: auto;
                }
                a.footer_site {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 17px;
                    margin: 0 0 30px 0;
                    width: auto;
                }
                .footer_time {
                    margin: 0 0 10px 0;
                    &:last-child {
                        margin: 0;
                    }
                }
                .footer_times {
                    width: auto;
                    display: block;
                    margin: 0 0 30px 0;
                }
                .footer_soc {
                    width: auto;
                    a {
                        @include size(24px);
                    }
                }
                &.pc {
                    display: none;
                }
                &.tel {
                    display: block;
                    .footer_site {
                        margin-bottom: 15px;
                    }
                }
            }
        }
        @include _640 {
            width: 100%;
            &-inner {
                width: 100%;
                display: none;
                left: 0;
                z-index: 5;
                &.open {
                    display: block;
                }
                &_title {
                    padding-left: 74px;
                }
                .popup_catalog-menu a {
                    font-size: 16px;
                    padding-left: 74px;
                }
                a.back {
                    display: block;
                }
            }
        }
        @include _480 {
            &-inner {
                &_title {
                    padding-left: 53px;
                }
                .popup_catalog-menu a {
                    padding-left: 53px;
                }
                a.back {
                    left: 13px;
                }
            }
            &-menu a {
                padding-left: 65px;
            }
            &-bottom {
                padding-left: 65px;
            }
            &-title {
                padding-left: 65px;
            }
            a.btn.btn-closeGray {
                left: 22px;
            }
        }
    }
    @include _960 {
        &.tel {
            display: none;
        }
    }
    &_gallery{
        position: absolute;
        z-index: 2;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 20px 20px 54px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 1480px;
        height: 100%;
        &-container{
            width: 100%;
            background-color: #fff;
            border-radius: 10px;
            position: relative;
            padding: 0 20px;
            max-height: 100%;
            height: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            .mainScreen_banner1-pagination {
                bottom: -34px;
            }
        }
        &-scaleBtns{
            position: absolute;
            left: 50%;
            bottom: 20px;
            transform: translate(-50%, 0);
            display: flex;
            align-items: center;
        }
        &-scaleBtn {
            @include transition;
            border-radius: 50%;
            background-color: #F1C10F;
            display: flex;
           padding-top: 3px;
            justify-content: center;
            color: #000;
            font-size: 16px;
            margin: 0 7.5px; 
            @include size(24px);
            text-decoration: none;
            &:hover {
                background-color: #F4F4F4;
                color: rgba(0,0,0, 0.4);
            }
        }
        img {
            display: block;
            width: auto;
            height: auto;
            max-height: 100%;
            max-width: 100%;
        }
        @include _960 {
            padding: 20px 15px 54px 15px;
            &-container .mainScreen_banner1-pagination {
                bottom: -25px;
            }
            &-container{
                height: 60%;
            }
        }
    }
    &_review{
        position: absolute;
        z-index: 2;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 15px;
        max-width: 716px;
        width: 100%;
        max-height: 100%;
        overflow-y: auto;
        &::-webkit-scrollbar {
            opacity: 0;
            width: 0;
        }
        .sent_body {
            display: none;
            width: 100%;
            background-color: #fff;
            border-radius: 10px;
            padding: 40px 15px;
            position: relative;
            span {
                display: block;
                text-align: center;
                margin-bottom: 10px;
                color: #000;
                font-size: 40px;
                font-weight: 400;
                line-height: 48px;
            }
            p {
                display: block;
                text-align: center;
                font-size: 16px;
                font-weight: 400;
                line-height: 19px;
            }
            @include _480 {
                span {
                    font-size: 30px;
                    line-height: 36px;
                    margin-bottom: 20px;
                }
            }
        }
        &.sent {
            .sent_body {
                display: block;
            }
            .popup_review-body {
                display: none;
            }
            a.btn.btn-closeBlackSmall {
                top: 30px;
                right: 30px;
            }
        }
        a.btn.btn-closeBlackSmall {
            position: absolute;
            top: 77px;
            right: 62px;
            z-index: 2;
        }
        &-body{
            width: 100%;
            background-color: #F6F6F6;
            border-radius: 10px;
            padding: 50px;
            position: relative;
        }
        .title {
            font-weight: 400;
            margin-bottom: 25px;
        }
        &-stars{
            display: flex;
            justify-content: space-between;
            margin-bottom: 25px;
        }
        &-star{
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
            @include transition;
            p {
                display: block;
                font-size: 14px;
                font-weight: 400;
                line-height: 17px;
                color: #696969;
                text-align: center;
            }
            span {
                display: block;
                margin-bottom: 5px;
                @include transition;
                @include size(33px);
                position: relative;
                &:after {
                    @include after;
                    position: absolute;
                    top: 0;
                    left: 0;
                    @include transition;
                    right: 0;
                    bottom: 0;
                    opacity: 1;
                    background: url(../img/star-gray-big.svg) no-repeat 50% 50%;
                    background-size: cover;
                }
                &:before {
                    @include after;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    @include transition;
                    bottom: 0;
                    opacity: 0;
                    background: url(../img/star-yellow-big.svg) no-repeat 50% 50%;
                    background-size: cover;
                }
            }
            &:hover {
                span {
                    &:after {
                        opacity: 0;
                    }
                    &:before {
                        opacity: 1;
                    }
                }
            }
            &.active span {
                &:after {
                    opacity: 0;
                }
                &:before {
                    opacity: 1;
                }
            }
        }
        &-form{
            input[type="text"] {
                display: block;
                width: 100%;
                background-color: #fff;
                border-radius: 5px;
                height: 44px;
                padding: 0 10px;
                font-family: 'Calibri';
                font-size: 16px;
                font-weight: 400;
                color: #949494;
                margin-bottom: 25px;
                border: none;
                &::placeholder {
                    font-family: 'Calibri';
                    font-size: 16px;
                    font-weight: 400;
                    color: #949494;
                }
            }
            input[type="submit"] {
                height: 37px;
                border: none;
                padding: 0 15px;
                font-family: 'Calibri';
                font-size: 16px;
                cursor: pointer;
                font-weight: 700;
            }
            textarea {
                display: block;
                width: 100%;
                background-color: #fff;
                border-radius: 5px;
                border: none;
                height: 125px;
                padding: 10px 10px;
                font-family: 'Calibri';
                font-size: 16px;
                font-weight: 400;
                color: #949494;
                margin-bottom: 25px;
                &::placeholder {
                    font-family: 'Calibri';
                    font-size: 16px;
                    font-weight: 400;
                    color: #949494;
                }
                &::-webkit-scrollbar {
                    opacity: 0;
                    width: 0;
                }
            }
        }
        &-check{
            display: flex;
            align-items: center;
            color: #000;
            font-size: 16px;
            font-weight: 300;
            line-height: 20px;
            cursor: pointer;
            margin-bottom: 25px;
            i {
                display: block;
                @include size(17px);
                margin-right: 11px;
                border-radius: 3px;
                border: 1px solid #000;
                @include transition;
                background-color: transparent;
                position: relative;
            }
            &.checked {
                i {
                    background-color: #000;
                    &:after {
                        @include after;
                        position: absolute;
                        background: url(../img/icon-check-white.svg) no-repeat 50% 50%;
                        @include size(100%);
                        left: 1px;
                    }
                }
            }
        }
        @include _960 {
            .title {
                font-size: 34px;
                line-height: 42px;
            }
        }
        @include _640 {
            &-body {
                padding: 50px 30px;
            }
            a.btn.btn-closeBlackSmall {
                right: 42px;
            }
        }
        @include _480 {
            &-body {
                padding: 30px 10px;
            }
            a.btn.btn-closeBlackSmall {
                top: 52px;
                right: 22px;
            }
            .title {
                font-size: 20px;
                line-height: 24px;
            }
            &-star span {
                @include size(25px);
                margin-bottom: 3px;
            }
            &-form input[type=text] {
                font-size: 14px;
                &::placeholder {
                    font-size: 14px;
                }
            }
            &-form textarea {
                font-size: 14px;
                &::placeholder {
                    font-size: 14px;
                }
            }
            &-form input[type=submit] {
                width: 100%;
                height: 40px;
            }
        }
    }
    &_link {
        position: absolute;
        z-index: 2;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 15px;
        max-width: 580px;
        width: 100%;
        max-height: 100%;
        overflow-y: auto;
        &::-webkit-scrollbar {
            opacity: 0;
            width: 0;
        }
        a.btn.btn-closeBlackSmall {
            position: absolute;
            top: 40px;
            right: 40px;
            z-index: 2;
        }
        &-url{
            display: none;
            margin-bottom: 40px;
            border-radius: 6px;
            width: 100%;
            border: 1px solid #909090;
            padding-left: 50px;
            padding-right: 20px;
            height: 53px;
            background: url(../img/icon-link.svg) no-repeat 14px 50%;
            &_inner{
                width: 100%;
                overflow: hidden;
                display: flex;
                align-items: center;
                span {
                    display: block;
                    color: #000;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 24px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
        &-body{
            width: 100%;
            background-color: #F6F6F6;
            border-radius: 10px;
            box-shadow: 0 6px 25px rgba(0,0,0, 0.1);
            padding: 70px 30px 40px 30px;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            a.btn.btn-more.btn-more_black {
                height: 40px;
                padding: 0 40px;
                border-radius: 5px;
                font-size: 16px;
                font-weight: 700;
                &:hover {
                    background-color: #444444;
                    color: #fff;
                }
            }
            strong {
                display: none;
                text-align: center;
                color: #000;
                margin: -10px 0 30px;
                font-size: 20px;
                font-weight: 700;
                line-height: 24px;
                @include _480 {
                    font-size: 19px;
                }
            }
        }
        &-switch{
            cursor: pointer;
            border-radius: 37px;
            @include size(55px, 25px);
            background-color: #909090;
            @include transition;
            padding: 2px;
            &_inner{
                height: 100%;
                width: 21px;
                position: relative;
                @include transition;
                left: 0;
                background-color: #fff;
                border-radius: 100%;
            }
        }
        &-row{
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 40px;
            span {
                display: block;
                font-size: 20px;
                font-weight: 400;
                line-height: 24px;
                color: #191919;
            }
        }
        &.switched {
            .popup_link-switch {
                background-color: #00A046;
                &_inner {
                    left: calc(100% - 21px);
                }
            }
            .popup_link-url {
                display: flex;
            }
            .popup_link-body strong {
                display: block;
            }
        }
    }
}
