.stock {
    margin-bottom: 48px;
    &_top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
    &_tabs{
        margin-bottom: 24px;
        ul{
            display: flex;
            @include _960 {
                margin-bottom: 30px;
            }
        }
        li{
            margin-right: 20px;
            @include _960 {
                margin-right: 10px;
            }
        }
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            height: 40px;
            border-radius: 5px;
            padding: 0 15px;
            background-color: #EEEEEE;
            color: #000;
            font-family: Calibri;
            font-size: 16px;
            font-weight: 400;
            @include transition;
            text-decoration: none;
            &:hover {
                background-color: #FECA0A;
            }
            @include _960 {
                height: 36px;
            }
        }
        li.active a{
            background-color: #FECA0A;
        }
    }
    &_items{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        margin: 0 -10px 10px;
        .mainScreen_banner1-pagination {
            display: none;
        }
        @include _960 {
            padding-bottom: 20px;
            margin: 0 -5px;
            .mainScreen_banner1-pagination {
                display: block;
                bottom: 0;
                li {
                    margin: 0 2.5px;
                }
            }
            
        }
    }
    &_like{
        position: absolute;
        top: 15px;
        right: 15px;
        @include size(24px);
        z-index: 2;
        &:after {
            @include after;
            position: absolute;
            @include transition;
            @include size(100%, 100%);
            opacity: 1;
            background: url(../img/icon-like-gray.svg) no-repeat;
        }
        &:before {
            @include after;
            @include transition;
            position: absolute;
            @include size(100%, 100%);
            opacity: 0;
            background: url(../img/icon-like-red.svg) no-repeat;
        }
        @include _960 {
            @include size(18px);
            &:after  {
                background-size: contain;
            }
            &:before {
                background-size: contain;
            }
        }
    }
    &_item{
        width: 25%;
        padding: 0 10px;
        @include transition;
        border-radius: 10px;
        &:hover {
            .stock_like:after {
                opacity: 0;
            }
            .stock_like:before {
                opacity: 1;
            }
            .stock_img {
                border-color: transparent;
            }
            box-shadow: 0 6px 25px rgba(0, 0, 0, 0.1);
            .stock_img-pagination {
                opacity: 1;
                pointer-events: all;
            }
            .stock_img-pagination img {
                border: none;
            }
            .stock_content-price a.btn-price {
                opacity: 1;
                pointer-events: all;
            }
            .stock_content-container {
                max-height: 1000000px;
                opacity: 1;
                pointer-events: all;
            }
        }
        img {
            display: block;
            width: 100%;
            height: auto;
            max-height: 345px;
            object-fit: cover;
            border-radius: 10px;
        }
        &-inStock {
            color: #000;
            font-family: Calibri;
            font-size: 12px;
            font-weight: 400;
            line-height: 15px;
            display: flex;
            align-items: center;
            margin-bottom: 5px;
            i {
                display: block;
                margin-right: 5px;
                background-color: #00A046;
                border-radius: 3px;
                @include size(10px);
            }
        }
        &-title{
            display: block;
            font-family: Calibri;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            @include _960 {
                font-size: 14px;
                line-height: 17px;
            }
        }
        &-reviews{
            padding-top: 5px;
            display: flex;
            align-items: center;
            a.numberReviews {
                display: block;
                font-family: Calibri;
                font-size: 12px;
                font-weight: 400;
                color: #437CB1;
                text-decoration: none;
            }
            &_stars{
                ul {
                    display: flex;
                    margin-right: 4px;
                }
                li{
                    margin-right: 1px;
                    &.active a{
                        &:after{
                            opacity: 0;
                        }
                        &:before{
                            opacity: 1;
                        }
                    }
                }
                a{
                    display: block;
                    @include size(15px);
                    position: relative;
                    &:after{
                        @include after;
                        position: absolute;
                        top: 0;
                        left: 0;
                        @include size (100%);
                        opacity: 1;
                        @include transition;
                        background: url(../img/star-gray.svg) no-repeat;
                    }
                    &:before{
                        @include after;
                        position: absolute;
                        top: 0;
                        left: 0;
                        @include size (100%);
                        opacity: 0;
                        @include transition;
                        background: url(../img/star-yellow.svg) no-repeat;
                    }
                    &:hover {
                        &:after{
                            opacity: 0;
                        }
                        &:before{
                            opacity: 1;
                        }
                    }
                }
            }
        }
        &.ends {
            .stock_item-inStock i {
                background-color: #F1C10F;
            }
        }
        &.noAvailability {
            .stock_item-inStock i {
                background-color: #DE2B2B;
            }
            .stock_img {
                position: relative;
                &:after {
                    @include after;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: rgba(238, 238, 238, 0.8);
                }
            }
        }
        &.toOrder {
            .stock_item-inStock i {
                background-color: #000000;
            }
        }
        @include _960 {
            width: 25%;
            padding: 0 5px;
            &:hover {
                box-shadow: none;
                .stock_img {
                    border: 1px solid #EEEEEE;
                }
                .stock_like:after {
                    opacity: 1;
                }
                .stock_like:before {
                    opacity: 0;
                }
            }
        }
        @include _640 {
            width: 33.3%;
            &:nth-child(4) {
                display: none;
            }
        }
        @include _480 {
            width: 50%;
            &:nth-child(3) {
                display: none;
            }
        }
    }
    &_img{
        position: relative;
        margin-bottom: 20px;
        @include transition;
        overflow: hidden;
        border: 1px solid #EEEEEE;
        border-radius: 10px;
        &-pagination{
            position: absolute;
            bottom: 20px;
            left: 25px;
            z-index: 2;
            right: 25px;
            @include transition;
            opacity: 0;
            pointer-events: none;
            ul {
                display: flex;
                width: 100%;
                justify-content: center;
            }
            li{
                width: 16.6%;
                margin: 0 2.5px;
            }
            a{
                display: block;
                border-radius: 5px;
                border: 1px solid #EEEEEE;
                overflow: hidden;
                @include transition;
                &:hover {
                    border-color: #000;
                }
            }
            img {
                display: block;
                border-radius: 0px;
                border: none;
            }
            @include _960{
                left: 15px;
                right: 15px;
                bottom: 15px;
                opacity: 1;
                pointer-events: all;
                li {
                    margin: 0 1px;
                }
                a {
                    border-radius: 3px;
                }
            }
        }
        &-info{
            position: absolute;
            top: 15px;
            left: 15px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            z-index: 2;
        }
        @include _960 {
            margin-bottom: 10px;
        }
    }
    &_interest{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 10px;
        padding: 0 10px;
        height: 23px;
        border-radius: 3px;
        background-color: #FFF101;
        color: #000;
        font-family: Calibri;
        font-size: 14px;
        font-weight: 400;
        @include _960{
            padding: 0 3px;
            height: 18px;
            margin-bottom: 3px;
            font-size: 10px;
        }
    }
    &_hit{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 10px;
        padding: 0 10px;
        height: 23px;
        border-radius: 3px;
        background-color: #FECA0A;
        color: #000;
        font-family: Calibri;
        font-size: 14px;
        font-weight: 400;
        @include _960{
            padding: 0 3px;
            height: 18px;
            margin-bottom: 3px;
            font-size: 10px;
        }
    }
    &_new{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 10px;
        padding: 0 10px;
        height: 23px;
        border-radius: 3px;
        background-color: #00A046;
        color: #fff;
        font-family: Calibri;
        font-size: 14px;
        font-weight: 400;
        @include _960{
            padding: 0 3px;
            height: 18px;
            font-size: 10px;
        }
    }
    &_content{
        padding: 0 10px 20px 10px;
        position: relative;
        &-container {
            @include transition;
            opacity: 0;
            pointer-events: none;
            max-height: 0;
            box-shadow: 0 6px 25px rgba(0, 0, 0, 0.1);
            background: #fff;
            position: absolute;
            left: -10px;
            right: -10px;
            padding: 0 10px 20px;
            border-radius: 0 0 10px 10px;
            z-index: 3;
            top: 100%;
            &:after {
                @include after;
                position: absolute;
                width: 100%;
                height: 20px;
                background-color: #fff;
                top: -20px;
                left: 0;
                right: 0;
            }
            @include _960 {
                display: none;
            }
        }
        &-block{
            margin-bottom: 20px;
        }
        &-price{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            a.btn-price {
                opacity: 0;
                pointer-events: none;
                @include _960 {
                    display: none;
                }
            }
            &_block{
                span {
                    display: block;
                    font-family: Calibri;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 20px;
                    color: #959595;
                    text-decoration: line-through;
                }
                strong {
                    display: block;
                    color: #000;
                    font-family: Calibri;
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 29px;
                }
                @include _960 {
                    span {
                        font-size: 14px;
                        line-height: 17px;
                    }
                    strong {
                        font-size: 20px;
                        line-height: 24px;
                    }
                }
            }
        }
        &-options{
            border-top: 1px solid #D9D9D9;
            border-bottom: 1px solid #D9D9D9;
            padding: 10px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
        }
        &-option{
            span{
                display: block;
                font-family: Calibri;
                font-size: 14px;
                font-weight: 400;
                line-height: 17px;
                color: #959595;

            }
            b{
                display: block;
                font-family: Calibri;
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
                color: #000;
            }
        }
        &-installmentPlan{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            ul{
                display: flex;
                align-items: center;
            }
            li{
                margin-right: 10px;
            }
            img {
                display: block;
            }
            p{
                display: block;
                color: #000;
                font-family: Calibri;
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
                text-align: right;
                max-width: 50%;
            }
        }
        @include _960 {
            padding-bottom: 0;
        }
    }
    &_banner{
        width: 33.3%;
        padding: 0 10px;
        margin-bottom: 20px;
        img {
            display: block;
            width: 100%;
            height: auto;
        }
        &-body{
            overflow: hidden;
            border-radius: 10px;
            border: 1px solid #EEEEEE;
            position: relative;
        }
        a.btn {
            position: absolute;
            top: 106px;
            left: 50%;
            transform: translate(-50%, 0);
            width: calc(100% - 40px);
            padding: 0 20px;
            height: 55px;
            font-size: 24px;
            font-weight: 700;
            line-height: 24px;
        }
        @include _960 {
            a.btn {
                top: 50px;
                width: calc(100% - 24px);
                height: 30px;
                font-size: 13px;
                line-height: 13px;
            }
        }
    }
    &_banner2{
        width: 100%;
        padding: 0 10px;
        margin-bottom: 20px;
        img {
            display: block;
            width: 100%;
            height: 150px;
            object-fit: cover;
        }
        &-body{
            overflow: hidden;
            border-radius: 10px;
            position: relative;
        }
        &-info{
            position: absolute;
            left: 35px;
            top: 50%;
            transform: translate(0, -50%);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            span {
                display: block;
                color: #000;
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
            }
        }
        a.btn {
            padding: 0 20px;
            height: 49px;
            margin-bottom: 10px;
            border-radius: 5px;
            font-size: 24px;
            font-weight: 700;
            line-height: 24px;
        }
    }
    &_dop{
        display: flex;
        justify-content: center;
        position: relative;
        a.btn {
            font-size: 16px;
            font-weight: 700;
            line-height: 16px;
        }
        .pageNavigation {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            right: 0;
        }
    }
    @include _960 {
        margin-bottom: 70px;
    }
    @include _480 {
        margin-bottom: 50px;
    }
}
