.weInstagram {
    margin-bottom: 70px;
    .title {
        margin-bottom: 30px;
    }
    &_items{
        display: flex;
        margin: 0 -10px;
        @include _960 {
            margin: 0 -5px;
        }
        .mainScreen_banner1-pagination {
            display: none;
        }
        @include _480 {
            padding-bottom: 20px;
            position: relative;
            .mainScreen_banner1-pagination {
                display: block;
                bottom: 0;
            }
        }
    }
    &_item {
        width: 25%;
        padding: 0 10px;
        &-container{
            border: 1px solid #EEEEEE;
            border-radius: 5px;
            overflow: hidden;
            height: 100%;
            @include transition;
            &:hover {
                box-shadow: 0 6px 25px rgba(0, 0, 0, 0.1);
            }
        }
        img {
            display: block;
            width: 100%;
            height: auto;
        }
        @include _960 {
            padding: 0 5px;
        }
        @include _640 {
            width: 33.3%;
            &:nth-child(4) {
                display: none;
            }
        }
        @include _480 {
            width: 50%;
            &:nth-child(3) {
                display: none;
            }
        }
    }
    @include _480 {
        margin-bottom: 50px;
    }
}